# Ignorar archivos compilados
*.class

# Ignorar carpetas de compilación
/bin/
/out/
/build/

# Ignorar archivos temporales de VS Code
.vscode/
.classpath
.project
.settings/

# Ignorar archivos del sistema
Thumbs.db
*.log
*.tmp
